/* styles to body */
body {
    font-family: Arial, sans-serif;
    background-color: lightyellow;
    text-align: center;
    padding: 20px;
}

/* Heading style */
h1 {
    color:blue;
    font-size: 36px;
}

/* Paragraph style */
p {
    color: blueviolet;
    font-size: 18px;
}

/* Image style */
img {
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 2px 1px 2px;
}

/* Button style */
button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: darkslategray;
}
